@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1e40af;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #1e40af;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter Tight', Arial, Helvetica, sans-serif;
}
